{% extends "courses/base.html" %}
{% block title %}Custom Page{% endblock %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="mb-3">
                <h5>Chinese Audio</h5>
                <form id="audio1_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="audio1">Chinese Audio</label>
                        <input type="file" class="form-control" id="audio1" name="audio1" accept="audios/*">
                    </div>
                </form>
            </div>
            <div class="mb-3">
                <h5>Chinese Text</h5>
                <form id="text1_form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="text1">Chinese Text</label>
                        <textarea class="form-control" id="text1" name="text1" rows="4"></textarea>
                    </div>
                </form>
            </div>
            <div class="mb-3">
                <h5>English Audio</h5>
                <form id="audio2_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="audio2">English Audio</label>
                        <input type="file" class="form-control" id="audio2" name="audio2" accept="audios/*">
                    </div>
                </form>
            </div>
            <div class="mb-3">
                <h5>English Text</h5>
                <form id="text2_form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="text2">English Text</label>
                        <textarea class="form-control" id="text2" name="text2" rows="4"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Comments</h5>
            <form id="message_form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="message">Comments</label>
                    <textarea class="form-control" id="message" name="message" rows="10"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
                   
