{% extends "courses/base.html" %}
{% block title %}Daily Vocabulary{% endblock %}
{% block content %}
<style>
    .table-container {
        display: flex;
        box-shadow: 4px 0px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        width: 95%;
    }
    
    .left-column {
        width: 23%;
        box-shadow: -4px 0px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    }
    
    .right-column {
        width: 77%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .label-group {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-top: 10px;
    }
    
    ul {
        list-style-type: none;
        padding-top: -2px;
        margin-left: -10px;
    }
    
    ul li {
        margin-bottom: 24px;
    }
    
    button {
        background-color: #000;
        color: #fff;
        border: none;
        padding: 0px 10px;
        text-align: center;
        display: inline-block;
        height: 22px;
        font-size: 13px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, color 0.3s, transform 0.3s;
    }
    
    button:hover {
        background-color: #333;
        color: #fff;
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
</style>
<div class="table-container">
    <div class="left-column">
        <form method="post" action="{% url 'courses:daily_vocabulary' %}" style="margin-left: 16px;">
            {% csrf_token %}
            <input type="hidden" name="title_form" value="1">
            <span style="display: inline-block;">{{ title_form.as_p }}</span>
            <button type="submit" style="margin-left: 11px;">Add Title</button>
        </form>
        
        <form method="post" action="{% url 'courses:daily_vocabulary' %}">
            {% csrf_token %}
            <div style="text-align: right; margin-bottom: 4px; margin-right: 8px;">
                <button type="submit" name="delete_titles">Delete Selected Title</button>
            </div>
            <ul>
                {% for title in latest_Title_list %}
                <li data-title="{{ title.title }}">
                    <label>
                        <input type="checkbox" name="titles_to_delete" value="{{ title.id }}">
                        <span id="title-text-{{ title.id }}">{{ title.title }}</span>

                        <div style="padding-top: 5px;">
                            <form method="post" action="{% url 'courses:daily_vocabulary' %}" id="edit-title-form-{{ title.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="edit_title" value="1">
                                <input type="hidden" name="title_id" value="{{ title.id }}">
                                <input type="text" name="new_title" value="{{ title.title }}">
                                <button type="submit">Save</button>
                            </form>
                        </div>
                    </label>
                </li>
                {% endfor %}
            </ul>
        </form>
    </div>
    <div class="right-column">
        <form method="post" action="{% url 'courses:daily_vocabulary' %}" style="margin-left: 20px; margin-right: 400px;">
            {% csrf_token %}
            <input type="hidden" name="label_form" value="1">
            <label for="id_label" style="display: inline-block;">Label:</label>
            {{ label_form.label }}
            <label for="id_title" style="display: inline-block; margin-left: 10px;">Title:</label>
            {{ label_form.title }}
            <button type="submit" style="display: inline-block; margin-left: 16px; margin-top: 14px;">Add Label</button>
        </form>
        <form method="post" action="{% url 'courses:daily_vocabulary' %}">
            {% csrf_token %}
            <div class="label-group">
                {% for label in latest_Label_list %}
                    <div style="padding: 20px; width: 260px; height: 50px;">
                        <span class="label-item" data-foreign-key="{{ label.title }}" style="margin-left: 5px;">
                            <input type="checkbox" name="labels_to_delete" value="{{ label.id }}">
                            <a href="{% url 'courses:custom_page' %}?label={{ label.label }}" style="text-decoration: none; color: black;">{{ label.label }}</a>
                            <div style="padding-top: 5px;">
                                <form method="post" action="{% url 'courses:daily_vocabulary' %}" id="edit-label-form-{{ label.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="edit_label" value="1">
                                    <input type="hidden" name="label_id" value="{{ label.id }}">
                                    <input type="text" name="new_label" value="{{ label.label }}">
                                    <button type="submit">Save</button>
                                </form>
                            </div>
                        </span>
                    </div>
                {% endfor %}
                <div style="padding-left: 864px; padding-top: 78px;">
                    <button type="submit" name="delete_labels">Delete Selected Label</button>
                </div>
            </div>
        </form>
    </div> 
</div>

{% if error_message %}
<div style="color: red; margin-top: 20px;">
    {{ error_message }}
</div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const listItems = document.querySelectorAll('.left-column li');
        const labels = document.querySelectorAll('.label-group .label-item');
    
        listItems.forEach(item => {
            item.addEventListener('click', function() {
                const selectedTitle = this.getAttribute('data-title');
    
                labels.forEach(label => {
                    label.style.display = 'none';
                });
    
                labels.forEach(label => {
                    if (label.getAttribute('data-foreign-key') === selectedTitle) {
                        label.style.display = 'inline';
                    }
                });
            });
        });
    });    
</script>
{% endblock %}