{% extends "courses/base.html" %}
{% block title %}Daily Vocabulary{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'DVPageStyles.css' %}">
<div class="table-container">
    <div class="left-column">

        <form method="post" action="{% url 'courses:daily_vocabulary' %}" style="margin-left: 16px;">
            {% csrf_token %}
            <input type="hidden" name="title_form" value="1">
            <span style="display: inline-block;">{{ title_form.as_p }}</span>
            <button type="submit" style="margin-left: 11px;">Add Title</button>
        </form>
        
        <form method="post" action="{% url 'courses:daily_vocabulary' %}">
            {% csrf_token %}
            <ul>
                {% for title in latest_Title_list %}
                    <li data-title="{{ title.title }}">
                        <label>
                            <input type="checkbox" name="titles_to_delete" value="{{ title.id }}">
                            {{ title.title }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <div style="text-align: right; margin-bottom: 4px; margin-right: 8px;">
                <button type="submit" name="delete_titles">Delete Selected</button>
            </div>
        </form>
    </div>
    <div class="right-column">
        <form method="post" action="{% url 'courses:daily_vocabulary' %}" style="margin-left: 20px; margin-right: 400px;">
            {% csrf_token %}
            <input type="hidden" name="label_form" value="1">
            <label for="id_label" style="display: inline-block;">Label:</label>
            {{ label_form.label }}
            <label for="id_title" style="display: inline-block; margin-left: 10px;">Title:</label>
            {{ label_form.title }}
            <button type="submit" style="display: inline-block; margin-left: 16px; margin-top: 14px;">Add Label</button>
        </form>

        <form method="post" action="{% url 'courses:daily_vocabulary' %}">
            {% csrf_token %}
            <div class="label-container" style="display: flex; flex-wrap: wrap;">
                {% for label in latest_Label_list %}
                    <div style="display: flex; align-items: center; margin-right: 10px; margin-bottom: 5px;">
                        <input type="checkbox" name="labels_to_delete" value="{{ label.id }}">
                        <span class="label-item" data-foreign-key="{{ label.title }}" style="margin-left: 5px;">
                            <a href="{% url 'courses:custom_page' %}?label={{ label.label }}">{{ label.label }}</a>
                        </span>
                    </div>
                {% endfor %}
                <button type="submit" name="delete_labels" style="margin-left: auto;">Delete Selected Label</button>
            </div>
        </form>
    </div> 
</div>

<script src="{% static 'DVPageFunction.js' %}"></script>
{% endblock %}
