{% extends "courses/base.html" %}
{% block title %}English Dictionary{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'EDPageStyles.css' %}">
<div class="container">
    <div class="row">
        <button class="column" onclick="playSound()">Technical Terms</button>
        <button class="column" onclick="playSound()">Daily Vocabulary</button>
    </div>
</div>
<audio id="click-sound" src="{% static 'audios/TheSoundOfTurningBooks.mp3' %}"></audio>
<script src="{% static 'homePageFunction.js' %}"></script>
{% endblock %}

