{% extends "courses/base.html" %}
{% block title %}English Dictionary{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'EDPageStyles.css' %}">
<div class="container">
    <div class="row">
        <button class="column">
            <a href="{% url 'courses:technical_terms' %}">Technical Terms</a>
        </button>
        <button class="column">
            <a href="{% url 'courses:daily_vocabulary' %}">Daily Vocabulary</a>
        </button>
    </div>
</div>
{% endblock %}
