{% extends "courses/base.html" %}
{% block title %}OScustom_page{% endblock %}

{% block content %}
<div style="padding-left: 16px;"><em><h1><strong>{{ label_name }}</strong></h1></em></div>
    <div style="display: flex; flex-direction: column;">
        {% for data in latest_CustomData_list %}
        <div style="display: flex;">
            <div style="flex: 1; padding-right: 40px;" >
                {% if data.OSImage %}
                    <img src="{{ data.OSImage.url }}" alt="OS Image" style="max-width: 100%;">
                {% endif %}
            </div>
            <div style="flex: 1;">
                <span>{{ data.OSText }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'courses:technical_terms' %}">Back to Techical Page</a>
{% endblock %}
