{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'baseStyles.css' %}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <div class="navbar" style="background-color: #333; display: flex; align-items: center; justify-content: space-between; padding: 1px 30px;">
        <h1 style="color: white; font-weight: bold;">CoursePilot</h1>
        <a href="{% url 'courses:DSPage' %}" style="color: white; text-decoration: none; font-size: 16px;">Digital System</a>
        <a href="{% url 'courses:CEPage' %}" style="color: white; text-decoration: none; font-size: 16px;">Communication Engineering</a>
        <a href="{% url 'courses:OSPage' %}" style="color: white; text-decoration: none; font-size: 16px;">Operating System</a>
        <a href="{% url 'courses:SEPage' %}" style="color: white; text-decoration: none; font-size: 16px;">Software Engineering</a>
        <a href="{% url 'courses:SPPage' %}" style="color: white; text-decoration: none; font-size: 16px;">Signal Processing</a>
        <a href="{% url 'courses:EDPage' %}" style="color: white; text-decoration: none; font-size: 16px;">Technical Dictionary</a>
        <a href="{% url 'courses:homePage' %}" style="color: white; text-decoration: none; font-size: 16px;">Home</a>
        <a href="{% url 'admin:index' %}" style="color: white; text-decoration: none; font-size: 16px;">Admin</a>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
