{% extends "courses/base.html" %}

{% block title %}Courses{% endblock %}
{% block content %}
<style>
    .rounded-box {
        padding: 8px;
        width: 95%;
        height: auto;
    }
    
    table {
        width: 100%;
    }
    
    td {
        padding: 18px;
        text-align: center;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    }
    
    .course-detail table {
        width: 100%;
    }
    
    .course-image, .course-description {
        width: 50%;
        vertical-align: top;
    }
    
    .course-image img {
        max-width: 100%;
        height: auto;
    }    
</style>
{% load static %}
<div class="rounded-box">
    <table>
        <tr>
            {% for course in latest_course_list %}
                <td class="course-name" data-course-id="{{ forloop.counter0 }}">{{ course.courseName }}</td>
            {% endfor %}
        </tr>
    </table>

    <div id="course-details">
        {% for course in latest_course_list %}
        <div class="course-detail" id="course-{{ forloop.counter0 }}" style="display: none;">
            <table>
                <tr>
                    <td class="course-image">
                        <img src="{% static course.imagePath %}" alt="{{ course.courseName }}" style="width: 560px; height: 460px; border-radius: 10px; box-shadow: -1px -2px 4px rgba(0, 0, 0, 0.1);">
                    </td>
                    <td class="course-description" style="text-align: justify;">
                        {{ course.description }}
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const courseNames = document.querySelectorAll('.course-name');
        const courseDetails = document.querySelectorAll('.course-detail');
    
        courseNames.forEach(courseName => {
            courseName.addEventListener('click', function() {
                const courseId = this.getAttribute('data-course-id');
    
                courseDetails.forEach(detail => {
                    detail.style.display = 'none';
                });
    
                const selectedCourse = document.getElementById(`course-${courseId}`);
                if (selectedCourse) {
                    selectedCourse.style.display = 'block';
                }
            });
        });
    }); 
</script>
{% endblock %}
