.table-container {
    display: flex;
    box-shadow: 4px 0px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 95%;
}

.left-column {
    width: 20%;
    box-shadow: -4px 0px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.right-column {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.label-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 10px;
}

.label-group span {
    display: inline-block;
    width: 152px;
    height: 40px;
    padding: 18px;
    margin-bottom: 10px;
    padding-left: 40px;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin-left: 20px;
}

ul li {
    margin-bottom: 18px;
}

