.container {
    padding: 8px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.column {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 10px;
    
}

.left-column {
    flex: 20%;
}

.right-column {
    flex: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.horizontal-labels {
    display: flex;
    justify-content: center;
}

.horizontal-labels span {
    padding: 20px;
    display: inline-block;
    margin-right: 46px;
    white-space: nowrap;
}

ul {
    list-style-type: none;
}

ul li {
    text-decoration: none;
    margin-bottom: 10px;
}