.rounded-box {
    border-radius: 10px;
    padding: 8px;
    width: 95%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 18px;
    text-align: center;
    vertical-align: top;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.course-detail table {
    width: 100%;
}

.course-image, .course-description {
    width: 50%;
    vertical-align: top;
}

.course-image img {
    max-width: 100%;
    height: auto;
}

